# **Heroes Of Pymoli**

In [1]:
# Dependencies and Setup
import pandas as pd
import os

In [2]:
# Identify a variable for the path needed to retrieve the data
pymoli_path = os.path.join('Resources', 'purchase_data.csv')

# Read purchase_data.csv file and store into Pandas DataFrame
gaming_df = pd.read_csv(pymoli_path)

# View the values in first 5 rows of data frame
gaming_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# Identify the column headers in the data
gaming_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

In [4]:
# Calculate total number of players (using unique values for screen name column)
players_count = len(gaming_df['SN'].unique())

# Load the players_count in a data frame to display
players_count_df = pd.DataFrame({
    'Total Players':[players_count]
})

# View the data frame
players_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

In [5]:
# Apply formatting for the $ values
pd.options.display.float_format = '${:,.2f}'.format

In [6]:
# Perform basic calculations on purchasing data and display results in summary data frame
# Start by creating variables and doing calculations
# Needed calculations: Number of Unique Items, Average Price, Number of Purchases, Total Revenue
unique_items = len(gaming_df['Item ID'].unique())
average_price = gaming_df['Price'].mean()
num_purchases = len(gaming_df['Purchase ID'].unique())
total_revenue = gaming_df['Price'].sum()

# Create a summary_df to hold the results of the calculations
summary_df = pd.DataFrame({
    'Number of Unique Items':[unique_items],
    'Average Price':[average_price],
    'Number of Purchases':[num_purchases],       
    'Total Revenue':[total_revenue]
})

summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179          $3.05                  780      $2,379.77

## Gender Demographics

In [7]:
# Identify the players who made purchases and include demographics
players_df = gaming_df[['SN', 'Gender', 'Age']]

# Using gender_df remove duplicates (using the values of 'SN' column)
players_df = players_df.drop_duplicates(subset=['SN'])

players_df

                SN  Gender  Age
0          Lisim78    Male   20
1      Lisovynya38    Male   40
2       Ithergue48    Male   24
3    Chamassasya86    Male   24
4        Iskosia90    Male   23
..             ...     ...  ...
773         Hala31    Male   21
774     Jiskjask80    Male   11
775     Aethedru70  Female   21
777     Yathecal72    Male   20
778        Sisur91    Male    7

[576 rows x 3 columns]

In [8]:
# Count the results for each gender
count_gender = players_df['Gender'].value_counts()

# Create a data frame to display count and percentages of males, females and others/non-disclosed
count_gender_df = players_df['Gender'].value_counts().to_frame()
count_gender_df = count_gender_df.rename(columns={'Gender':'Total Count'})

# Calculate and format percentages for the data frame
count = len(players_df['SN'])

pd.options.display.float_format = '{:,.2f}%'.format
for_percentage_gender = count_gender / count * 100
count_gender_df['Percentage of Players'] = for_percentage_gender

count_gender_df

                       Total Count  Percentage of Players
Male                           484                 84.03%
Female                          81                 14.06%
Other / Non-Disclosed           11                  1.91%


## Purchasing Analysis (Gender)

In [9]:
# Run basic calculations by gender (purchase count, average purchase price, average purchase total per person) 
# Again consider data frame for all purchases made, gaming_df, in order to do some calculating based on gender of purchaser

# Create a data frame listing all purchases made for each gender category in order to do calculations of totals/averages
gaming_by_gender_df = gaming_df.groupby(['Gender'])

# To visualize use a data function count
gaming_by_gender_df.count()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [10]:
# Create data frame to display the gender analysis beginning with the gender distribution for purchase count
count_gender_all_df = gaming_df['Gender'].value_counts().to_frame()
count_gender_all_df = count_gender_all_df.rename(columns={'Gender':'Purchase Count'})

# Create a variable to hold the purchase count value to use in calculations
count_by_gender = count_gender_all_df['Purchase Count'] 

# Calculate average purchase price and total purchase using gaming_by_gender_df 
average_purchase_price_by_gender = gaming_by_gender_df['Price'].mean()

total_purchase_by_gender = gaming_by_gender_df['Price'].sum()

# Calculate the average total purchase per person by again considering only the number of unique individuals 
# Variable count_gender already holds the number of unique individuals by gender
average_purchase_per_person = total_purchase_by_gender / count_gender

In [11]:
# Apply a global format for the values to be displayed in the data frame
pd.options.display.float_format = '${:,.2f}'.format

In [12]:
# Complete build of this data frame to input the calculations desired by adding columns for the calculations made
count_gender_all_df['Average Purchase Price'] = average_purchase_price_by_gender
count_gender_all_df['Total Purchase Value'] = total_purchase_by_gender
count_gender_all_df['Average Total Purchase per Person'] = average_purchase_per_person

# Update formatting
#count_gender_all_df['Average Purchase Price'] = count_gender_all_df['Average Purchase Price'].map('${:,.2}'.format)
#count_gender_all_df['Total Purchase Value'] = count_gender_all_df['Total Purchase Value'].map('${:,.2}'.format)
#count_gender_all_df['Average Total Purchase per Person'] = count_gender_all_df['Average Total Purchase per Person'].map('${:,.2}'.format)

# Display the data frame for the analysis by gender
count_gender_all_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

In [13]:
# Update the formatting for percentages in this section
pd.options.display.float_format = '{:.2f}%'.format

In [14]:
# Create age bins for the players to span from 0 to > max age 
# max_age = players_df['Age'].max(), result is 45
players = gaming_df[['SN', 'Age', 'Gender']].drop_duplicates()

bins = [0, 9, 14, 19, 24, 29, 34, 39, 99]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

players['Age Range'] = pd.cut(players_df['Age'], bins, labels=group_names)

In [15]:
# Group the players by age to evaluate count and percentage for each bin#players = players.groupby(['Age'])
age_groups = players.groupby('Age Range').count().Age

# Create a data frame to display the counts and percentages for the age ranges
age_groups_df = pd.DataFrame({'Total Count':age_groups, 'Percentage of Players':age_groups / count * 100})

# can this line be broken up to make sense
# age_groups = players.groupby('Age Range').count().Age
# age_groups = players.groupby('Age Range')
# print(age_groups['Age Range'].count().Age)
# age_groups_df = pd.DataFrame({'Total Count':age_groups, 'Percentage of Players':age_groups / count * 100})

# View the age demographics table that includes counts and percentages for Age bins
age_groups_df

           Total Count  Percentage of Players
Age Range
<10                 17                  2.95%
10-14               22                  3.82%
15-19              107                 18.58%
20-24              258                 44.79%
25-29               77                 13.37%
30-34               52                  9.03%
35-39               31                  5.38%
40+                 12                  2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
# Update the formatting for currency in this section
pd.options.display.float_format = '${:.2f}'.format

# purchase_data data frame gaming_df
gaming_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56
2,2,Ithergue48,24,Male,92,Final Critic,$4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27
4,4,Iskosia90,23,Male,131,Fury,$1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,$3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,$1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",$3.46
778,778,Sisur91,7,Male,92,Final Critic,$4.19
779,779,Ennrian78,24,Male,50,Dawn,$4.60

In [17]:
# For all purchases create age bins for the players to span from 0 to > max age 
# max_age = players_df['Age'].max(), result is 45
bins_purchases = [0, 9, 14, 19, 24, 29, 34, 39, 99]
group_names_purchases = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

gaming_df['Age Range'] = pd.cut(gaming_df['Age'], bins, labels=group_names)
gaming_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,$4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,$1.44,20-24

In [18]:
# Group the players by age to evaluate count and percentage for each bin#players = players.groupby(['Age'])
age_groups_purchases = gaming_df.groupby('Age Range').Price

age_groups_purchases_df = pd.DataFrame({
    'Purchase Count': age_groups_purchases.count(),
    'Average Purchase Price': age_groups_purchases.mean(),
    'Total Purchase Value': age_groups_purchases.sum(),  
})

average_purchase_per_person = age_groups_purchases.sum() / age_groups
age_groups_purchases_df['Average Total Purchase per Person'] = average_purchase_per_person

age_groups_purchases_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [19]:
# Group spending by player
summarized_by_SN = gaming_df.groupby('SN').Price

# Create a data frame to hold spending by player and purchase data
summarized_by_SN_df = pd.DataFrame({
    'Purchase Count': summarized_by_SN.count(),
    'Average Purchase Price': summarized_by_SN.mean(),
    'Total Purchase Value': summarized_by_SN.sum(),
})

# Sort by Total Purchase Value, descending (ascending is the default order)
sorted_by_purchases_df = summarized_by_SN_df.sort_values('Total Purchase Value', ascending=False)

# Format from previous df is carrying forward as needed
# Display the first five values for the data frame
sorted_by_purchases_df.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                   $3.79                $18.96
Idastidru52               4                   $3.86                $15.45
Chamjask73                3                   $4.61                $13.83
Iral74                    4                   $3.40                $13.62
Iskadarya95               3                   $4.37                $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [20]:
# Create a data frame from gaming_df that includes Item ID, Item Name and Item Price 
gaming_simple_df = gaming_df[['Item ID', 'Item Name', 'Price']]
gaming_simple_df = gaming_simple_df.rename(columns={'Price':'Item Price'})

# Format from previous df is carrying forward as needed
# View the data frame
gaming_simple_df

     Item ID                                  Item Name  Item Price
0        108  Extraction, Quickblade Of Trembling Hands       $3.53
1        143                          Frenzied Scimitar       $1.56
2         92                               Final Critic       $4.88
3        100                                Blindscythe       $3.27
4        131                                       Fury       $1.44
..       ...                                        ...         ...
775       60                                       Wolf       $3.54
776      164                           Exiled Doomblade       $1.63
777       67      Celeste, Incarnation of the Corrupted       $3.46
778       92                               Final Critic       $4.19
779       50                                       Dawn       $4.60

[780 rows x 3 columns]

In [23]:
grouped_gaming_simple = gaming_simple_df.groupby(['Item ID', 'Item Name'])

# grouped_gaming_simple_df = grouped_gaming_simple['Item Name'].count()\
# .to_frame(name='Purchase Count').reset_index()
# will need to lose the index column
# don't reset index instead
grouped_gaming_simple_df = grouped_gaming_simple['Item Name'].count()\
.to_frame(name='Purchase Count')

sorted_by_count_df = grouped_gaming_simple_df.sort_values('Purchase Count', ascending=False)

sorted_by_count_df
# need to add the Item Price and Total Purchase Value columns

                                                      Purchase Count
Item ID Item Name
92      Final Critic                                              13
178     Oathbreaker, Last Hope of the Breaking Storm              12
145     Fiery Glass Crusader                                       9
132     Persuasion                                                 9
108     Extraction, Quickblade Of Trembling Hands                  9
...                                                              ...
42      The Decapitator                                            1
51      Endbringer                                                 1
118     Ghost Reaver, Longsword of Magic                           1
104     Gladiator's Glaive                                         1
91      Celeste                                                    1

[179 rows x 1 columns]

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame