# **Heroes Of Pymoli**

In [1]:
# Dependencies and Setup
import pandas as pd
import os

In [2]:
# Identify a variable for the path needed to retrieve the data
pymoli_path = os.path.join('Resources', 'purchase_data.csv')

# Read purchase_data.csv file and store into Pandas DataFrame
gaming_df = pd.read_csv(pymoli_path)

# View the values in first 5 rows of data frame
gaming_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# Identify the column headers in the data
gaming_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

In [4]:
# Calculate total number of players (using unique values for screen name column)
#players_list = gaming_df['SN'].unique()
#players_count = len(players_list) - can I combine these two lines?

players_count = len(gaming_df['SN'].unique())

# Load the players_count in a data frame to display
players_count_df = pd.DataFrame({
    'Total Players':[players_count]
})

#view the total
players_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

In [5]:
# Perform some basic calculations on the purchasing data and display the results in a summary data frame
# Create variables and calculate number of unique items and purchases, average price, revenue
unique_items = len(gaming_df['Item ID'].unique())
average_price = gaming_df['Price'].mean()
num_purchases = len(gaming_df['Purchase ID'].unique())
total_revenue = gaming_df['Price'].sum()

# Create a summary_df to hold the results of the calculations
summary_df = pd.DataFrame({
    'Number of Unique Items':[unique_items],
    'Average Price':[average_price],
    'Number of Purchases':[num_purchases],       
    'Total Revenue':[total_revenue]
})

# Clean up formats 'average price' and 'total revenue'
summary_df['Average Price'] = summary_df['Average Price'].map('${:,.2f}'.format)
summary_df['Total Revenue'] = summary_df['Total Revenue'].map('${:,.2f}'.format)

summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

In [6]:
# Create a data frame to display count and percentages of males, females and others/non-disclosed

# First create a data frame only consisting of each SN only once  
gender_df = gaming_df[['SN', 'Gender']]

In [7]:
# Using gender_df drop duplicates based on the values of 'SN' column
gender_df = gender_df.drop_duplicates(subset=['SN'])

gender_df

                SN  Gender
0          Lisim78    Male
1      Lisovynya38    Male
2       Ithergue48    Male
3    Chamassasya86    Male
4        Iskosia90    Male
..             ...     ...
773         Hala31    Male
774     Jiskjask80    Male
775     Aethedru70  Female
777     Yathecal72    Male
778        Sisur91    Male

[576 rows x 2 columns]

In [8]:
# Now count the results for gender
count = len(gender_df['SN'])
count_gender = gender_df['Gender'].value_counts()

# Create data frame for the gender results
count_gender_df = gender_df['Gender'].value_counts().to_frame()
count_gender_df = count_gender_df.rename(columns={"Gender":"Total Count"})

In [9]:
# Calculate percentages and add to data frame
for_percentage_gender = count_gender / count
count_gender_df['Percentage of Players'] = for_percentage_gender
count_gender_df['Percentage of Players'] = count_gender_df['Percentage of Players'].map('{:,.2%}'.format) 

count_gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [28]:
# Again consider data frame for all purchases made, in order to do some calculating based on gender of purchaser
gaming_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [29]:
# Create a data frame listing all purchases made for each gender category in order to do calculations of totals/averages
gaming_by_gender_df = gaming_df.groupby(['Gender'])

# To visualize use a data function count
gaming_by_gender_df.count()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [30]:
# Create data frame for the gender results
count_gender_all_df = gaming_df['Gender'].value_counts().to_frame()
count_gender_all_df = count_gender_all_df.rename(columns={"Gender":"Purchase Count"})

# Need to build a data frame that includes purchase count split out by gender
count_by_gender = count_gender_all_df['Purchase Count'] 
count_gender_all_purchases = gaming_df['Gender'].value_counts()

# Calculate average purchase price and total purchase using gaming_by_gender_df 
average_purchase_price_by_gender = gaming_by_gender_df['Price'].mean()

print(average_purchase_price_by_gender)

total_purchase_by_gender = gaming_by_gender_df['Price'].sum()
print(total_purchase_by_gender)
# Calculate the average purchase per person by again considering number of unique individuals 
# Need average total purchase per person by gender
# Variable count_gender holds the number of unique individuals split out into gender categories
average_purchase_per_person = total_purchase_by_gender / count_gender
print(count_by_gender)
print(count_gender) # Count only unique individuals
print(average_purchase_per_person)

count_gender_all_df
# Need to complete build of this data frame to input the calculations to count_gender_all_df

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64
Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64
Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Purchase Count, dtype: int64
Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

                       Purchase Count
Male                              652
Female                            113
Other / Non-Disclosed              15

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame