# **Heroes Of Pymoli**

In [1]:
# Dependencies and Setup
import pandas as pd
import os

In [2]:
# Identify a variable for the path needed to retrieve the data
pymoli_path = os.path.join('Resources', 'purchase_data.csv')

# Read purchase_data.csv file and store into Pandas DataFrame
gaming_df = pd.read_csv(pymoli_path)

# View the values in first 5 rows of data frame
gaming_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# Identify the column headers in the data
gaming_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

In [4]:
# Calculate total number of players (using unique values for screen name column)
#players_list = gaming_df['SN'].unique()
#players_count = len(players_list) - can I combine these two lines?

players_count = len(gaming_df['SN'].unique())

# Load the players_count in a data frame to display
players_count_df = pd.DataFrame({
    'Total Players':[players_count]
})

#view the total
players_count_df

   Total Players
0            576

## Purchasing Analysis (Total)

In [23]:
pd.options.display.float_format = '${:.2f}'.format

In [24]:
# Perform basic calculations on purchasing data and display results in summary data frame
# Create variables, calculate number of unique items and purchases, average price, revenue
unique_items = len(gaming_df['Item ID'].unique())
average_price = gaming_df['Price'].mean()
num_purchases = len(gaming_df['Purchase ID'].unique())
total_revenue = gaming_df['Price'].sum()

# Create a summary_df to hold the results of the calculations
summary_df = pd.DataFrame({
    'Number of Unique Items':[unique_items],
    'Average Price':[average_price],
    'Number of Purchases':[num_purchases],       
    'Total Revenue':[total_revenue]
})

# Clean up formats 'average price' and 'total revenue'
summary_df['Average Price'] = summary_df['Average Price']
summary_df['Total Revenue'] = summary_df['Total Revenue']

summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179          $3.05                  780       $2379.77

## Gender Demographics

In [6]:
# Create a data frame to display count and percentages of males, females and others/non-disclosed

# First create a data frame only consisting of each SN only once  
players_df = gaming_df[['SN', 'Gender', 'Age']]

players_df

                SN  Gender  Age
0          Lisim78    Male   20
1      Lisovynya38    Male   40
2       Ithergue48    Male   24
3    Chamassasya86    Male   24
4        Iskosia90    Male   23
..             ...     ...  ...
775     Aethedru70  Female   21
776         Iral74    Male   21
777     Yathecal72    Male   20
778        Sisur91    Male    7
779      Ennrian78    Male   24

[780 rows x 3 columns]

In [7]:
# Using gender_df drop duplicates based on the values of 'SN' column
players_df = players_df.drop_duplicates(subset=['SN'])

players_df

                SN  Gender  Age
0          Lisim78    Male   20
1      Lisovynya38    Male   40
2       Ithergue48    Male   24
3    Chamassasya86    Male   24
4        Iskosia90    Male   23
..             ...     ...  ...
773         Hala31    Male   21
774     Jiskjask80    Male   11
775     Aethedru70  Female   21
777     Yathecal72    Male   20
778        Sisur91    Male    7

[576 rows x 3 columns]

In [8]:
# Now count the results for gender
count = len(players_df['SN'])
count_gender = players_df['Gender'].value_counts()

# Create data frame for the gender results
count_gender_df = players_df['Gender'].value_counts().to_frame()
count_gender_df = count_gender_df.rename(columns={'Gender':'Total Count'})

In [9]:
# Calculate percentages and add to data frame
for_percentage_gender = count_gender / count
count_gender_df['Percentage of Players'] = for_percentage_gender
count_gender_df['Percentage of Players'] = count_gender_df['Percentage of Players'].map('{:,.2%}'.format) 

count_gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
# Run basic calculations by gender (purchase count, average purchase price, average purchase total per person) 
# Again consider data frame for all purchases made, gaming_df, in order to do some calculating based on gender of purchaser

# Create a data frame listing all purchases made for each gender category in order to do calculations of totals/averages
gaming_by_gender_df = gaming_df.groupby(['Gender'])

# To visualize use a data function count
gaming_by_gender_df.count()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [11]:
# Create data frame to display the gender analysis beginning with the gender distribution for purchase count
count_gender_all_df = gaming_df['Gender'].value_counts().to_frame()
count_gender_all_df = count_gender_all_df.rename(columns={'Gender':'Purchase Count'})

# Create a variable to hold the purchase count value to use in calculations
count_by_gender = count_gender_all_df['Purchase Count'] 

# Calculate average purchase price and total purchase using gaming_by_gender_df 
average_purchase_price_by_gender = gaming_by_gender_df['Price'].mean()

total_purchase_by_gender = gaming_by_gender_df['Price'].sum()


# Calculate the average total purchase per person by again considering only the number of unique individuals 
# Variable count_gender already holds the number of unique individuals split out into gender categories
average_purchase_per_person = total_purchase_by_gender / count_gender

# Test calcs with some print messages
#print(count_by_gender)
#print(average_purchase_price_by_gender)
#print(total_purchase_by_gender)
#print(count_gender) # Counts only unique individuals
#print(average_purchase_per_person)

In [12]:
# Complete build of this data frame to input the calculations desired by adding columns and updating formatting as needed
count_gender_all_df['Average Purchase Price'] = average_purchase_price_by_gender
count_gender_all_df['Total Purchase Value'] = total_purchase_by_gender
count_gender_all_df['Average Total Purchase per Person'] = average_purchase_per_person

# Update formatting
count_gender_all_df['Average Purchase Price'] = count_gender_all_df['Average Purchase Price'].map('${:,.2f}'.format)
count_gender_all_df['Total Purchase Value'] = count_gender_all_df['Total Purchase Value'].map('${:,.2f}'.format)
count_gender_all_df['Average Total Purchase per Person'] = count_gender_all_df['Average Total Purchase per Person'].map('${:,.2f}'.format)

# Display the data frame for the gender analysis data
count_gender_all_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [13]:
# Will apply a global format for this section rather than formatting using .map
pd.options.display.float_format = '{:.2f}%'.format

In [14]:
# Create age bins for the players to span from 0 to > max age 
# max_age = players_df['Age'].max(), result is 45
players = gaming_df[['SN', 'Age', 'Gender']].drop_duplicates()

bins = [0, 9, 14, 19, 24, 29, 34, 39, 99]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

players['Age Range'] = pd.cut(players_df['Age'], bins, labels=group_names)
players.head()

              SN  Age Gender Age Range
0        Lisim78   20   Male     20-24
1    Lisovynya38   40   Male       40+
2     Ithergue48   24   Male     20-24
3  Chamassasya86   24   Male     20-24
4      Iskosia90   23   Male     20-24

In [18]:
# Group the players by age to evaluate count and percentage for each bin#players = players.groupby(['Age'])
age_groups = players.groupby('Age Range').count().Age

# Create a data frame to display the counts and percentages for the age ranges
age_groups_df = pd.DataFrame({'Total Count':age_groups, 'Percentage of Players':age_groups / count * 100})


# age_groups = players.groupby('Age Range')
# print(age_groups['Age'].count()
# age_groups_df = pd.DataFrame({'Total Count':age_groups, 'Percentage of Players':age_groups / count * 100})

# View the counts and percentages for the Age bins
age_groups_df

           Total Count  Percentage of Players
Age Range
<10                 17                  2.95%
10-14               22                  3.82%
15-19              107                 18.58%
20-24              258                 44.79%
25-29               77                 13.37%
30-34               52                  9.03%
35-39               31                  5.38%
40+                 12                  2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# Update the formatting for currency in this section
pd.options.display.float_format = '${:.2f}'.format

In [ ]:
gaming_df.head()

In [ ]:
players.head()

In [ ]:
gaming_df['Age Range'] = pd.cut(gaming_df.Age,[0,9,14,19,24,29,34,39,100],\
       labels=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+'])

In [ ]:
grp = gaming_df.groupby('Age Range').Price

In [ ]:
pd.DataFrame({
    'Purchase Count': grp.count(),
    'Average Purchase Price': grp.mean()
    #sum for total
    
})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame